@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2C3333;
    font-family: Roboto;
    color: #EDF1D6;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bckgrnd{
    width: 95%;
    background-color: #CBE4DE;
    margin: 0 auto;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/47/592/854/wall-black-wood-tables-wallpaper-preview.jpg);
    background-size: cover;
    padding-bottom: 20px;
}

h1{
    font-size: 70px;
    margin-top: 40px;
    color: #d8f1d6;
    font-family: Lobster;
    font-weight: 700;
    text-shadow: black 5px 5px 3px;
}

.abc{
    display: flex;
    flex-direction: column;
}

.abc1{
    margin-top: 20px;
    font-size: 30px;
    font-style: italic;
    letter-spacing: 2px;
    color: red;
    font-family: Pacifico;
    font-weight: 900;
    text-shadow: black 3px 3px 3px;
}

.headerdiv1{
    border-top: 12px solid #d8f1d6;
    width: 100px;
    border-left: 20px solid #d8f1d6;
    height: 100px;
    border-radius: 6px;
    box-shadow: black -5px -5px 5px;
}

.headerdiv2{
    border-bottom: 12px solid #d8f1d6;
    width: 100px;
    border-right: 20px solid #d8f1d6;
    height: 100px;
    border-radius: 6px;
    margin-top: 80px;
    box-shadow: black 5px 5px 5px;

}

main{

}

footer{
    width: 95%;
    background: linear-gradient(#777, #111);
    padding: 20px 50px;
    color: #EDF1D6;
}

.hr1, .hr2{
    margin-bottom: 3px;
    color: #EDF1D6;
}

.hr3{
    color: #EDF1D6;
}

.eee{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.lll{
    margin-left: 20px;
}

.ee{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 14px;
}

.hr4{
    margin-top: 20px;
}

.hr5{
    margin-top: 3px;
    margin-bottom: 20px;
}

.rr{
    display: flex;
    justify-content: space-between;
}

.rrr{
    display: flex;
    align-items: center;
    margin-right: 150px;
}

.rrp{
    font-size: 25px;
    margin-left: 30px;
    width: 150px;
    color: #EDF1D6;
}

.wwimg{
    width: 50px;
    filter: drop-shadow(3px 2px 3px black);
}

.ww{
    position: fixed;
    bottom: 70px;
    right: 75px;
}

.divmenu{
    display: flex;
    text-shadow: black 2px 1px 2px;
}

.menu1, .menu2, .menu3, .menu4, .menu5{
    background: linear-gradient(#999, #111);
    border: 1px solid #2C3333;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    height: 80px;
}

.menu1:hover, .menu2:hover, .menu3:hover, .menu4:hover, .menu5:hover{
    background: linear-gradient(#999, #333);
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.05);
    border-radius: 5px;
}

.aa1:hover .divulmenu{
    display: block;
    position: absolute;
    z-index: 999;
}

.aa2:hover .divulaile{
    display: block;
    position: absolute;
    z-index: 999;
}

.aa3:hover .divulusaq{
    display: block;
    position: absolute;
    z-index: 999;
}

.aa4:hover .divulbiznes{
    display: block;
    position: absolute;
    z-index: 999;
}

.aa5:hover .divulcay{
    display: block;
    position: absolute;
    z-index: 999;
}

.aa1, .aa2, .aa3, .aa4, .aa5{
    max-width: 1200px;
    width: 100%;
}

a{
    text-decoration: none;
}

.imgmenu{
    margin-right: 8px;
}

.ulmenu{
    background-color: #333;
    text-align: center;
}

.divulmenu{
    display: none;
}

.divulmenu, .divulaile, .divulusaq, .divulbiznes, .divulcay{
    min-width: 350px;
}

.ulaile{
    background-color: #333;
    text-align: center;
}

.divulaile{
    display: none;
}

.ulusaq{
    background-color: #333;
    text-align: center;
}

.divulusaq{
    display: none;
}

.ulbiznes{
    background-color: #333;
    text-align: center;
}

.divulbiznes{
    display: none;
}

.ulcay{
    background-color: #333;
    text-align: center;
}

.divulcay{
    display: none;
}

li{
    list-style: none;
    color: #EDF1D6;
    border: 1px solid #222;
    font-size: 25px;
    padding: 10px 0;
}

li:hover{
    background-color: #555;
    transition: 0.5s;
    border: none;
    transform: scale(1.02);
    border-radius: 5px;
}

.menu1:hover .divulmenu{
    display: block;
}

.cards{
    width: 350px;
    margin: 30px;
    transition: 0.5s;
    position: relative;
}

ul{
    box-shadow: 2px 2px 2px black;
}

.ttt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    background-size: cover;
    background: url(https://p4.wallpaperbetter.com/wallpaper/47/592/854/wall-black-wood-tables-wallpaper-preview.jpg);
}

.kl{
    height: 231px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px black);
}

.rte{
    padding: 20px 15px;
    line-height: 30px;
    font-size: 20px;
    border: 1px solid #222;
    background:  linear-gradient(#999, #111);
    transform: rotateX(270deg);
    border-radius: 10px;
    text-shadow: #111 1px 1px 1px;
}

.abb{
    text-shadow: #111 2px 2px 1px;
}

.cards:hover .rte{
    display: block;
    border: 1px solid #222;
    background:  linear-gradient(#999, #111);
    transform: rotateX(0);
    box-shadow: 3px 3px 5px #222;
    transition: 0.5s;
}

.cards:hover{
    transform: scale(1.1);
}

.cards:hover .kl{
    filter: drop-shadow(5px 5px 3px black);
    transition: 0.5s;
}

button{
    width: 100%;
    height: 40px;
    font-size: 24px;
    margin-top: 10px;
    background: linear-gradient(#999, #222);
    border-radius: 10px;
    color: #EDF1D6;
    font-weight: 700;
}

button:hover{
    cursor: pointer;
}

button:active{
    font-weight: 500;
}

@media(max-width: 950px){
    body{
        display: flex;
        align-items: center;
    }

    .divmenu{
        flex-direction: column;
        width: 100%;
    }

    .aa1:hover .divulmenu{
        position: relative;
        width: 100%;
    }

    .aa2:hover .divulaile{
        position: relative;
        width: 100%;
    }

    .aa3:hover .divulusaq{
        position: relative;
        width: 100%;
    }

    .aa4:hover .divulbiznes{
        position: relative;
        width: 100%;
    }

    .aa5:hover .divulcay{
        position: relative;
        width: 100%;
    }

    .headerdiv2, .headerdiv1{
        display: none;
    }

    h1{
        width: 390px;
        text-align: center;
        font-size: 60px;
    }

    .abc1{
        font-size: 25px;
    }

    .abc{
        text-align: center;
    }

    .ww{
        position: fixed;
        bottom: 30px;
        right: 15px;
        width: 50px;
    }

    .rr{
        display: flex;
        justify-content: space-between;
    }

    .rrr{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
    }

    .mm{
        width: 80px;
    }

    .rrp{
        width: 100%;
        font-size: 14px;
    }

    .ee{
        width: 40%;
        font-size: 8px;
    }

    .ttt{
        background: url(https://p4.wallpaperbetter.com/wallpaper/47/592/854/wall-black-wood-tables-wallpaper-preview.jpg);
    }

    

}